<ul style="list-style: none;">
    <li class="education-item">
        <a href="https://www.sjtu.edu.cn"><img class="icon" src="/assets/img_about/img_edu/sjtu.png"></a>
        <span class="education-name"><a class="education-name" href="https://www.sjtu.edu.cn">Shanghai Jiao Tong University</a></span>
        <span class="education-title">M.S. in Software Engineering</span>
        <br>
        <span class="education-time">Sept 4, 2020 - Mar 1, 2023 (projected)</span>
        <br>
        Enrolled in Shanghai Jiao Tong University, School of Software Engineering, as a master student.
        Currently, I work in <a href="http://dalab.se.sjtu.edu.cn/www/home/">Digital Art Laboratory</a>
        as a researcher. Worked on fields of facial expression, image stylization and cloud gaming.
    </li>

    <li class="education-item">
        <a href="https://umich.edu/"><img class="icon" src="/assets/img_about/img_edu/UM.png"></a>
        <span class="education-name"><a class="education-name" href="https://umich.edu/">University of Michigan</a></span>
        <span class="education-title">B.S. in Computer Science Engineering</span>
        <br>
        <span class="education-time">Aug 27, 2018 - May 1, 2020</span>
        <br>
        Enrolled in University of Michigan, College of Engineering CSE department, as an undergraduate.
        Took part in dual degree program held by University of Michigan and Shanghai Jiao Tong University.
        Worked in MBIT7 Laboratory as a part-time researcher. Worked as instructor assistant for certain ECE courses.
    </li>

    <li class="education-item">
        <a href="https://www.sjtu.edu.cn"><img class="icon" src="/assets/img_about/img_edu/sjtu.png"></a>
        <span class="education-name"><a class="education-name" href="https://www.sjtu.edu.cn">Shanghai Jiao Tong University</a></span>
        <span class="education-title">B.S. in Electronic and Computer Engineering</span>
        <br>
        <span class="education-time">Sept 1, 2016 - Aug 10, 2020</span>
        <br>
        Enrolled in Shanghai Jiao Tong University, Joint Institute with University of Michigan, as an undergraduate.
        Learned basic courses in electronic and computer engineering. Worked at Student union (department of publishment), 
        volunteer teaching team, etc. 
    </li>
</ul>