/*
Post syntax
*/
.post-item {
    // Positioning context for the mobile navigation icon
    position: relative;
    min-height: 180px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;

    img.icon {
        width: 150px;
        height: 150px;
        float:left;
        margin-right: 30px;
    }
  }

/*
Self-Introduction Page
*/
.author-item {
    min-height: 300px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;

    img.icon {
        height: 300px;
        float: left;
        margin-top: 8px;
        margin-right: 50px;
        margin-bottom: 20px;
    }

    .author-name {
        font-size: $base-font-size * 1.375;
        font-weight: $base-font-weight * 1.375;
        color:lightskyblue;
    }

    .author-title {
        font-size: $base-font-size * 1.25;
        font-weight: $base-font-weight * 1.25;
        color: lightblue;
    }

    .author-intro {
        font-size: $base-font-size * 1.125;
        color: lightslategrey;
    }
}

/*
Education Page
*/
.education-item {
    min-height: 140px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-left: 5px;

    img.icon {
        height: 120px;
        width: 120px;
        float: left;
        margin-top: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .education-name {
        font-size: $base-font-size * 1.25;
        font-weight: $base-font-weight * 1.25;
        color:lightskyblue;
    }

    .education-time {
        font-size: $base-font-size * 0.875;
        font-weight: $base-font-weight * 0.875;
        color: lightslategray;
    }

    .education-title {
        float: right;
        font-style: italic;
        font-size: $base-font-size * 1.125;
        font-weight: $base-font-weight * 1.125;
        color: lightskyblue;
    }
}

/*
Syntax for video player
*/
video.youtube-item {
    width: 640px;
    margin-left: 150px;
}