---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">Welcome</h2>
  {%- include self_intro.html -%}

  <h2 class="post-list-heading">Current Institute</h2>
  <div class="education-item">
    <a href="https://www.sjtu.edu.cn"><img class="icon" src="/assets/img_about/img_edu/sjtu.png"></a>
    <span class="education-name"><a class="education-name" href="https://www.sjtu.edu.cn">Shanghai Jiao Tong University</a></span>
    <span class="education-title">M.S. in Software Engineering</span>
    <br>
    <span class="education-time">Sept 4, 2020 - Mar 1, 2023 (projected)</span>
    <br>
    Enrolled in Shanghai Jiao Tong University, School of Software Engineering, as a master student.
    Currently, I work in <a href="http://dalab.se.sjtu.edu.cn/www/home/">Digital Art Laboratory</a>
    as a researcher. Worked on fields of facial expression, image stylization and cloud gaming.
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit: 5 -%}
          <li class="post-item">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if post.icon -%}
              <img src="{{post.icon}}" class="icon">
            {%- endif -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
